@model Dictionary<int, string>

@*<input type="button" value="Query" onclick="Query()" />
    <input type="button" value="SingleQuery" onclick="SingleQuery()" />
    <input type="button" value="Insert" onclick="Insert()" />
    <input type="button" value="Update" onclick="Update()" />
    <input type="button" value="Update" onclick="UpdateVideo()" />*@

<div id="app" class="course-management">
    <div class="course-management__container">
        <div class="course-management__search-bar--flex">
            <input @@input="onInput($event)" placeholder="請輸入課程名稱" type="search">
            <div class="course-management__btn-wrapper">
                <a @@click="addCourse" class="blue-btn">新增</a>
            </div>
        </div>
        <div class="course-management__table">
            <div class="course-management__tr">
                <div class="course-management__th">名稱</div>
                <div class="course-management__th">年級</div>
                <div class="course-management__th">科目</div>
                <div class="course-management__th">狀態</div>
                <div class="course-management__th">管理</div>
            </div>
            <div class="course-management__tr" v-for="item in eachPageList" :key="item.CourseSeq">
                <div class="course-management__td">{{item.CourseName}}</div>
                <div class="course-management__td">{{item.SubbjectInfo.SubjectGradeName}}</div>
                <div class="course-management__td">{{item.SubbjectInfo.SubjectName}}</div>
                <div class="course-management__td">
                    <i v-if="item.Enable" style="color:forestgreen" class="far fa-circle"></i>
                    <i v-else style="color:red" class="fas fa-times"></i>
                </div>
                <div class="course-management__td">
                    <a @@click.prevent="showPopUp(item.CourseSeq)"><i class="fas fa-cog"></i></a>
                    <a @@click.prevent="showViedoPopUp(item.CourseSeq, item.Url)"><i class="fas fa-film"></i></a>
                    <a @@click.prevent="showtrialPopUp(item.CourseSeq, item.Url)"><i class="fas fa-user"></i></a>
                </div>
            </div>
        </div>
        <div v-show="curList.length > 10" class="pagenation">
            <a @@click.prevent="setPage(1)">First</a>
            <a @@click.prevent="setPage(previousPage)">Previous</a>
            <a v-for="(n, index) in totalPageCount" v-show="pageRule(n)" v-bind:class=" currPage === n ? 'active' : '' " :key="n"
               @@click.prevent="setPage(n)">{{n}}</a>
            <a @@click.prevent="setPage(nextPage)">Next</a>
            <a @@click.prevent="setPage(totalPageCount)">Last</a>
        </div>
    </div>
    <div v-show="pupUpOn" class="popup--wrapper">
        <div class="popup">
            <div class="popup--heading">
                <span>課程管理</span>
                <i @@click="hidePopUp" class="fas fa-times"></i>
            </div>
            <div class="popup--body">
                <div>
                    <p>名稱</p>
                    <input class="width200" :value="info.Name" v-model="info.CourseName" />
                </div>
                <div>
                    <p>年級</p>
                    <div class="width200">
                        <input type="radio" id="one" value="1" v-model="info.Grade">
                        <label for="one">高一</label>
                        <input type="radio" id="two" value="2" v-model="info.Grade">
                        <label for="two">高二</label>
                        <input type="radio" id="three" value="3" v-model="info.Grade">
                        <label for="three">高三</label>
                    </div>
                </div>
                <div>
                    <p>狀態</p>
                    <div class="width200">
                        <input type="checkbox" id="checkbox" v-model="info.Enable">
                        <label for="checkbox">{{ info.Enable?"啟用":"停用" }}</label>
                    </div>
                </div>
                <div>
                    <p>科目</p>
                    <div class="width200">
                        <div v-for="item in currentSubectList" class="subject-item">
                            <input type="radio" :id="item.ID" :value="String(item.ID)" v-model="info.SubjectId">
                            <label :for="item.ID">{{item.SubjectName}}</label>
                        </div>
                    </div>
                </div>
                @*<div v-show="!isInsert">
                        <p>試聽學生</p>
                        <div class="width200">
                            <p v-for="(item, index) in info.Student">{{}}</p>刪除
                            <input type="text" v-model="info.Student" disabled>
                            <a @@click="submit" class="blue-btn">新增</a>
                        </div>
                    </div>*@
                <div v-show="isInsert">
                    <p>影片</p>
                    <input class="width200" type="text" v-model="updateVideoInfo.fileName" disabled>
                </div>
            </div>
            <div class="popup--footer">
                <label v-show="isInsert" class="uploader" for="insert-uploader" v-on:change="fileChange">
                    選擇上傳影片
                    <input id="insert-uploader" type="file" style="display: none;" accept="video/mp4,video/x-m4v,video/*">
                </label>
                <a @@click="submit" class="blue-btn">儲存</a>
            </div>
        </div>
    </div>
    <div v-show="viedoPupUpOn" class="popup--wrapper">
        <div class="popup">
            <div class="popup--heading">
                <span>更新影片</span>
                <i @@click="hidePopUp" class="fas fa-times"></i>
            </div>
            <div class="popup--body">
                <div>
                    <p>影片</p>
                    <input class="width200" type="text" v-model="updateVideoInfo.fileName" disabled>
                </div>
            </div>
            <div class="popup--footer">
                <label class="uploader" for="update-uploader" v-on:change="fileChange">
                    選擇上傳影片
                    <input id="update-uploader" type="file" style="display: none;" accept="video/mp4,video/x-m4v,video/*">
                </label>
                <a v-show="updateVideoInfo.isFileSelected" @@click="updateVideo" class="blue-btn">儲存</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
const vm = new Vue({
    el: '#app',
    data: {
        rawList:[],
        curList: [],
        trialList:[],
        updateVideoInfo: {
            fileName: '',
            Seq : 0,
            file: '',
            isFileSelected: false
        },
        pupUpOn: false,
        viedoPupUpOn: false,
        isInsert: false,
        allSubjectList:[],
        subject: '',
        info: {
            CourseSeq:0,
            CourseName: '',
            SubjectId: '',
            Grade: '',
            Url:'',
            Enable: true,
            Student: []
        },
        currPage: 1,
        itemPerPage: 10
    },
    mounted() {
        //取得所有影片，帶科目(查詢所有就放Null)
        const val = null;
        axios.post('@(Url.Content("~/Course/Query?SubjectId="))' + `${val}`)
            .then(res => {
                this.rawList = res.data.Data
                this.curList = this.rawList
            });
        //取得所有科目表
        axios.post('@Url.Content("~/Account/GetGradeSubject")')
            .then(res => {
                this.allSubjectList = res.data.Data
            });

    },
    computed: {
        groupSubjectByGrade() {
            return this.allSubjectList.find(item => String(item.GradeId) === String(this.info.Grade))
        },
        currentSubectList() {
            return this.groupSubjectByGrade ? this.groupSubjectByGrade.Subject : [];
        },
        previousPage() {
            return this.currPage - 1 > 0 ? this.currPage - 1 : 1;
        },
        nextPage() {
            return this.currPage + 1 > this.totalPageCount ? this.totalPageCount : this.currPage + 1;
        },
        totalPageCount() {
            return Math.ceil(this.curList.length / this.itemPerPage);
        },
        eachPageList() {
            const lastIdx = this.currPage * this.itemPerPage;
            const firstIdx = lastIdx - this.itemPerPage;

            return this.curList.slice(firstIdx, lastIdx);
        },
        //sortedCurList() {
        //    return this.GradeSoringRule === 0 ? this.curList : this.GradeSoringRule === 1 ?
        //        this.curList.sort((a, b) => a.Grade - b.Grade) : this.curList.sort((a, b) => b.Grade - a.Grade)
        //}
    },
    methods: {
        onInput(e) {
            this.currPage = 1;
            this.curList = this.rawList.filter(item =>
                item.CourseName.toLowerCase().indexOf(e.target.value.toLowerCase()) >= 0)
        },
        showPopUp(val) {
            axios.post('@Url.Content("~/Course/SingleQuery?Seq=")' + `${val}`)
                .then(res => {
                    const { CourseSeq, CourseName, Url, SubbjectInfo, Enable, Student } = res.data.Data
                    this.info.CourseSeq = CourseSeq
                    this.info.CourseName = CourseName
                    this.info.Url = Url
                    this.info.Grade = String(SubbjectInfo.SubjectGradeId)
                    this.info.Enable = Enable
                    this.info.SubjectId = String(SubbjectInfo.SubjectId)
                    this.info.Student = Student
                })
                .finally(() => { this.pupUpOn = true; })
        },
        showViedoPopUp(seq, url) {
            this.viedoPupUpOn = true;
            this.updateVideoInfo.Seq = seq;
            this.updateVideoInfo.fileName = url;
        },
        hidePopUp() {
            this.pupUpOn = false;
            this.viedoPupUpOn = false;
            this.isInsert = false;
            this.resetupdateVideoInfo();

        },
        fileChange(e) {
            //let { fileName, file, isFileSelected } = this.updateVideoInfo
            if (e.target.files[0]) {
                this.updateVideoInfo.fileName = e.target.files[0].name;
                this.updateVideoInfo.file = e.target.files[0];
                this.updateVideoInfo.isFileSelected = true;
            } else {
                this.resetupdateVideoInfo();
            }
        },
        resetupdateVideoInfo() {
            //let { fileName, file, isFileSelected } = this.updateVideoInfo
            this.updateVideoInfo.isFileSelected = false;
            this.updateVideoInfo.fileName = '';
            this.updateVideoInfo.file = '';
        },
        addCourse() {
            this.isInsert = true;

            this.info = {
                CourseSeq: 0,
                CourseName: '',
                Video: '',
                SubjectId: '',
                Grade: '1',
                Enable: true,
                Student: []
            }
            this.pupUpOn = true;
        },
        updateVideo() {
            const fd = new FormData();
            fd.append('CourseSeq', this.updateVideoInfo.Seq)
            fd.append('Video', this.updateVideoInfo.file)

            axios.post('@Url.Content("~/Course/UpdateVideo")', fd)
                .then(res => {
                    console.log(res)
                    alert(res.data.Msg)
                    if (res.data.Success) {
                        location.reload();
                    };
                });
        },
        submit() {

            if (this.info.CourseSeq === 0) {
                data.Video = this.updateVideoInfo.file
                //新增資料

                const fd = new FormData();
                fd.append('CourseName', this.info.CourseName)
                fd.append('SubjectId', parseInt(this.info.SubjectId))
                fd.append('Enable', this.info.Enable)
                fd.append('Student', null)
                fd.append('Video', this.updateVideoInfo.file)

                console.log(data)
                axios.post('@Url.Content("~/Course/Insert")', data)
                    .then(res => {
                        alert(res.data.Msg)
                        if (res.data.Success) {
                            location.reload();
                        };
                    });
            } else {
                let data = {
                    CourseName: this.info.CourseName,
                    SubjectId: parseInt(this.info.SubjectId),
                    Enable: this.info.Enable,
                    Student: null,
                    CourseSeq: this.info.CourseSeq
                }

                    //修改資料
                console.log(data)
                axios.post('@Url.Content("~/Course/Update")', data)
                    .then(res => {
                        alert(res.data.Msg)
                        if (res.data.Success) {
                            location.reload();
                        };
                    });
            }
        },
        setPage(n) {
            this.currPage = n
        },
        pageRule(page) {
            return this.currPage == 1 || this.currPage == this.totalPageCount ?
                Math.abs(this.currPage - page) <= 2 : Math.abs(this.currPage - page) <= 1;
        },
        //sortByGrade(foo) {
        //    //calculate SortingCal 0 => default which is not working, 1 =>acs, -1 => des
        //    this.GradeSoringRule = this.sortRule % 2 === 0 ? 0 : foo
        //}
    }
});
</script>

<script type="text/javascript">
    function Query() {
        var aa = null; //這是條件，帶科目(查詢所有就放Null)
        $.post("@(Url.Content("~/Course/Query?SubjectId="))" + aa, function (x) {
            alert(x.Data[0].CourseName);
        });
    };

    function SingleQuery() {
        //查單一影片，放影片Seq
        $.post("@(Url.Content("~/Course/SingleQuery?Seq="))" + 1, function (x) {
            alert(x.Data.CourseName);
        });
    };

    function Insert() {
        var data = {
            CourseName: 'Test2',
            Video: '', //放影片，後端會檢查是否為mp4，前端檢查是否有上傳
            SubjectId: 2,
            Enable: false
        };
        $.post("@(Url.Content("~/Course/Insert"))", data, function (x) {
            alert(x.Msg);
        });
    };

    function Update() {
        var data = {
            CourseSeq: 1,
            CourseName: 'TestTwo',
            SubjectId: 2,
            Enable: true
        };
        $.post("@(Url.Content("~/Course/Update"))", data, function (x) {
            alert(x.Msg);
        });
    };
    function UpdateVideo() {
        var data = {
            CourseSeq: 1,
            Video: '', //放影片，後端會檢查是否為mp4，前端檢查是否有上傳
        };
        $.post("@(Url.Content("~/Course/UpdateVideo"))", data, function (x) {
            alert(x.Msg);
        });
    };
    function UpdateAuditionStudent() {
        var data = {
            CourseSeq: 1,
            Student: ['000003'] //影片個別放沒有購買課程的學生,沒設定就放Null
        };
        $.post("@(Url.Content("~/Course/UpdateAuditionStudent"))", data, function (x) {
            alert(x.Msg);
        });
    };
</script>
