@model Dictionary<int, string>

<div id="app" class="account">
    <div class="glyphicon-search-bar">
        
    </div>
    <div class="account__table">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-icon name="person-remove-outline"></ion-icon>
    </div>
</div>

@* 測試用(可以刪) *@
<input type="button" value="Query" onclick="Query()" />
<input type="button" value="SingleQuery" onclick="SingleQuery()" />
<input type="button" value="Add" onclick="Add()" />
<input type="button" value="Update" onclick="Update()" />


<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        data: {
            message: ''
        },
        mounted() {
            const data = {
                Name: '',
                Grade: null,
                Enable: true
            }
            axios.post('@Url.Content("/Account/Query")', data, function (x) {
            console.log(x);
        });
        }
    });


    @*function Query() {
        var data = {
            Name: '',
            Grade: null,
            Enable: true
        };
        $.post('@Url.Content("/Account/Query")', data, function (x) {
            console.log(x);
        });
    };
    function SingleQuery() {
        $.post('@Url.Content("/Account/SingleQuery?Id=")' + '000001', function (x) {
             alert(x.Success);
            console.log(x.Data);
        });
    };
    function Add() {
        var data = {
            Name: "Test",
            Grade: 2,
            Enable: false,
            Subject: [5,7]
        };
        $.post('@Url.Content("/Account/Insert")',data, function (x) {
            alert(x.Msg);
        });
    };
    function Update() {
        var data = {
            Account: "000001",
            Name: "Test",
            Grade: 3,
            Enable: true,
            Subject: [10,11,13]
        };
        $.post('@Url.Content("/Account/Update")',data, function (x) {
            alert(x.Msg);
        });
    };*@
</script>
